.container{
    margin-top: 20%;
}
.kahon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 20px;
    margin: 100px 100px 50px 100px;
    border: 1px solid black;
    align-items: center;
    height: 100%;
  }

.kahon >h1{
  font-size: 40px;
  font-weight: bold;
  padding-bottom:20px ;
  color: #FF357E;
  font-family: 'Nunito', sans-serif;
  }