.container {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  background: url('../public/images/Rectangle 2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.kahon {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background: white;
  padding: 40px 100px 50px 100px;
}
.image >h2{
  margin-top: 50px;
  text-align: center;
}
.image{
  margin-left: 70px;
}
.detail{
  margin-right: 70px;
}
.detail >h2{
  color: rgb(57, 57, 57);
}
.detail >p{
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#DaT{
  color: gray;
  font-size: 20px;
  height: 50px;
}
#sts{
  color: red;
  font-size: 20px;
  height: 50px;
}


