.container {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.kahon {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background: white;
  padding: 15px 100px 50px 100px;
}
.image >h2{
  margin-top: 50px;
  text-align: center;
}
.detail{
  margin-right: 70px;
}
.detail >p{
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#DaT{
  color: gray;
}
#sts{
  color: red;
  font-size: 20px;
}

