.container {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  top: 0;
}

.lol {
  padding-right: 30%;
  padding-left: 15px;
}

.lol2 {
  text-align: center;
  padding-right: 45%;
  color:#7e7e7e;
  margin-left: 880px;
}


.logo > img {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: 15%;
}

