.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff
}

.lol {
  padding-right: 30%;
}

.lol2 {
  text-align: center;
  padding-right: 45%;
  color:#7e7e7e
}

.logo > img {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: 15%;
}

