.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff
}

.lol {
  padding-right: 85%;
}

.logo > img {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: 15%;
}

