.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff
}

.lol {
  padding-right: 70%;
}

#submitbtn {
  width: 120px;
  height: 50px;
  font-size: 24px;
  background-color: #FF357E;
  border: 1px solid #ffdca0;
  cursor: pointer;
  border-radius: 30px;
}

.logo > img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

