.container {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;

}


/* .button {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
} */

.navbarActions {
  display: flex;
  gap: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #fa0e64;
}

.submitbtn:hover {
  color: #ff6ca2;
  text-decoration: underline;
}

.submitbtn1:hover {
  color: #ff6ca2;
  text-decoration: underline;
}

.submitbtn2:hover {
  color: #ff6ca2;
  text-decoration: underline;
}

.lol {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 65%;
}

.logo > img {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: 15%;
}

.button:hover {
  text-decoration: underline;
  color: #FF357E;
}
