.container {
  margin-top: 200px;
  background: url('../public/images/Rectangle 2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.records >p{
  margin-top: 0%;
  margin-bottom: 8%;
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 25%;

}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}
  
.app >table {
  border: 2px solid forestgreen;
  background-color: beige;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 18%;

}
.app >th {
  border-bottom: 1px solid black;

}
.app >tbody{
  gap: 30px;
}
  

  

  


