.container {
  margin-top: 200px;
  background: url('../public/images/Rectangle 3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.records >p{
  margin-top: 0px;
  margin-bottom: 3%;
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 27%;

}

.detailbtn{
  margin: 0px 25px 0px 25px;
  background-color: #ffdca0;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}

.table {
  text-align: center;
  margin-left: 27%;
  border: 2px solid #000000;
  background-color: #FAFAFA;
}
.th{
  
  font-size: 40px;
  font-weight: 'bold';

}
.td{
  font-size: 40px;
  font-family:'Times New Roman', Times, serif;
}
.th, .td{
  padding: 0px 25px 0px 25px;
  border-right: 1px solid  #000000;
  border-bottom: 1px solid  #000000;
}


  

  

  


